<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- root element -->
    <div id="app">
      <router-link to="/"> Home </router-link>
      <router-link to="/profile/1"> Profile </router-link>
      <router-link to="/login" style="float: right"> Login </router-link>
      <a
        href=""
        @click.prevent="logout"
        style="float: right; margin-right: 20px"
      >
        logout
      </a>
      <router-view style="margin-top: 50px"></router-view>
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  <script src="https://unpkg.com/vue-router@2.0.0/dist/vue-router.js"></script>
  <script
    src="{{ url_for('static', filename='app.js') }}"
    type="module"
  ></script>
</html>
